	<!-- header -->
	<!-- /header -->
	<!-- main -->
	<div class="main">
		<div class="palette">
			<ul>
				<li class="btnBlack"> </li>
				<li class="btnRed"></li>
				<li class="btnBlue"></li>
				<li class="btnGreen"></li>
			</ul>
			<ul>
				<li class="btnSmall">S</li>
				<li class="btnMiddle">M</li>
				<li class="btnLarge">L</li>
				<li class="btnDel">Del</li>
			</ul>
		</div>
		<div class="drawArea"><canvas id="drawCanvas"></canvas></div>
	</div>
	<!-- /main -->
